{% extends 'base.html' %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../static/images/pexels-ekaterina-bolovtsova-6192323.jpg" class="card-img-top" alt="..." height="500">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-2 mb-3">One minute Pitches</h1>
      <p class="lead">
        When you find an idea that you just can't stop thinking about, that's probably a good one to pursue - Pitching..</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-dark btn-lg px-4 me-md-2"><a href="{{url_for('auth.login')}}" class="text-light text-decoration-none">Sign in</a></button>
        
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 bg-dark">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" class="text-decoration-none text-light"> Juliana Alikutepa</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


{% endblock %}